version: '2'
services:
  omochi:
    build: .
    environment:
      SLACK_API_TOKEN: your-api-token-here
      BOT_NAME: omochi
      DATABASE_URL: 'postgres://postgres:mysecretpassword@db:5432/postgres'
    links:
        - db
  db:
    image: postgres:9.6-alpine