{
   "apiVersion":"v1",
   "kind":"Pod",
   "metadata":{
      "name":"omochi"
   },
   "spec":{
       "containers":[
           {
               "name":"omochi",
               "image":"gcr.io/omochi_slackbot/omochi",
               "env":[
                   {
                       "name":"SLACK_API_TOKEN",
                       "value":"your-api-token-here"
                   }
               ]
           }
       ],
       "restartPolicy":"OnFailure"
   }
}
